name: build-docker-Img

on: push

jobs:
    build_docker_image:
          name: build_docker_image
          runs-on: ubuntu-latest

          env:
              TAG: pythonapi
              PAT: ${{ secrets.GITHUB_TOKEN }}
              USER: cloudlumanex
              REGISTRY: ghcr.io
              VERSION: v1
            

          steps:
            - name: checkout
              uses: actions/checkout@v6.0.1

            - name: build docker image
              run: docker build -t ${{ env.REGISTRY }}/$USER/$TAG:${{ env.VERSION }} .


            - name: login to ghCR
              run: | 
                echo ${{ env.PAT }} | docker login ${{ env.REGISTRY }} -u ${{ env.USER }} --password-stdin
                docker tag $TAG ${{ env.REGISTRY }}/$USER/$TAG:${{ env.VERSION }}
                docker push ${{ env.REGISTRY }}/$USER/$TAG:${{ env.VERSION }}

            - name: image scanning
              uses: aquasecurity/trivy-action@0.27.0
              with: 
                image-ref: ${{ env.REGISTRY }}/$USER/$TAG:${{ env.VERSION }}
                security-checks: 'vuln,secret,config'
                format: 'sarif'
                output: 'trivy-image-result.sarif'
                severity: 'CRITCAL,HIGH'

            - name: upload scanned image to GH security
              uses: github/codeql-action/upload-sarif@v2
              with:
                sarif_file: trivy-image-result.sarif
                category: image
                
            

           
  
        
       

       
            
